<div class="authorization__wrapper">
  <div class="authorization__display">
    <input type="checkbox" id="chk" aria-hidden="true">
      <div class="login">
        <form [formGroup]="formLogin" (ngSubmit)="login()" class="login__form">
          <label for="chk" aria-hidden="true">Login</label>
          <input class="login__form-email" type="email" name="email" placeholder="Email" required="" formControlName="email">
          <input class="login__form-password" type="password" name="pswd" placeholder="Password" required="" formControlName="password">
          <button type="submit" class="auth__btn btn-login">Login</button>
          <a class="auth__btn btn-signUp" routerLink="/sign-up">Sign up</a>
        </form>
      </div>
  </div>
</div>
