.users__list{
  display: flex;
  flex-direction: column;
  padding: 40px 0 0;
  min-width: 200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.users__item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  color: black;
  :hover{
    color: red;
  }
}

.users__item-link{
  text-decoration: none;
  text-align: left;
}

.btn__delete-user{
  background-color: transparent;
  border: none;
}

.btn__update-users{
  max-width: 100px;
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translate(+50%);
}
