.form__change{
  display: flex;
  flex-direction: column;
}

.form__change-list{
  display: flex;
  flex-direction: column;
}

.form__change-avatar{
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.form__change__item{
  display: flex;
  text-align: center;
  align-items: center;
}

.form__change__item-title{
  margin-right: 10px;
  font-weight: 400;
}

.form__change__item-value{
  border: none;
  font-size: 18px;
}
