body{
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.btn{
  text-decoration: none;
  padding: 10px 0;
	margin: 10px auto;
	justify-content: center;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
  text-align: center;
}
.btn:hover{
	background: #6d44b8;
}

